<!DOCTYPE html>
<html class="theme-light">
    <head>
    <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Vokalschlag</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css">
        <link rel="stylesheet" href="styles.css">
        <script type="module">
            import { createApp } from "https://unpkg.com/vue@3/dist/vue.esm-browser.js"
            
            createApp({
                data() {
                    return {
                        singers: [
                            ["Anne Günster, Sopran", "Anne.png"],
                            ["Laura Zucchini, Mezzosopran", "Laura.png"],
                            ["Denise Weltken, Alt", "Denise.png"],
                            ["Christian Pukelsheim, Tenor", "Puki.png"],
                            ["Stephan Schiffels, Bariton", "Stephan.png"],
                            ["Jonas Zucchini, Bass", "Jonas.png"]],
                        events: []
                    };
                },
                methods: {
                    async getEvents() {
                        try {
                            const response = await fetch('events.json');
                            const data = await response.json();
                            this.events = data;
                        }
                        catch (error) {
                            console.error('Error:', error);
                        }
                    },
                    renderDate(event) {
                        const date = new Date(event.date);
                        const options = {
                            weekday: "long",
                            year: "numeric",
                            month: "long",
                            day: "numeric",
                        };
                        return date.toLocaleDateString("de-DE", options) + " um " + event.time;
                    }
                },
                computed: {
                    futureEvents() {
                        return this.events.filter(e => {
                            const d = new Date(e.date);
                            return d >= Date.now();
                        })
                    },
                    pastEvents() {
                        return this.events.filter(e => {
                            const d = new Date(e.date);
                            return d < Date.now();
                        })
                    }
                },
                mounted() {
                    this.getEvents();
                }
            }).mount('#app');
            
        </script>
    </head>
    <body>
        <section class="hero is-success is-fullheight header-image">
            <!-- Hero header: will stick at the top -->
            <div class="hero-head">
                <nav class="navbar is-fixed-top semi-transparent">
                    <div class="navbar-brand semi-transparent">
                        <a><h1 class="navbar-item is-size-2 pl-5">Vokalschlag</h1></a>
                        <a class="navbar-burger">
                            <span aria-hidden="true"></span>
                            <span aria-hidden="true"></span>
                            <span aria-hidden="true"></span>
                            <span aria-hidden="true"></span>
                        </a>
                    </div>
                    <div class="navbar-menu semi-transparent pr-5">
                        <!-- navbar start, navbar end -->
                        <div class="navbar-end">
                            <a class="navbar-item" href="">Ensemble</a>
                            <a class="navbar-item" href="">Besetzung</a>
                            <a class="navbar-item" href="">Konzerte</a>
                            <a class="navbar-item" href="">Kontakt</a>
                            <a class="navbar-item" href="">Facebook</a>
                        </div>
                    </div>
                </nav>
            </div>
        </section>
        <div id="app">
            <section class="container has-background-light has-text-weight-light">
                <h2 class="is-size-3 m-5 p-5 has-text-weight-light">Vokalschlag</h2>
                <div class="content m-5 p-5">
                    <p>Einzigartige Stimmfarben, intensiver musikalischer Ausdruck und eine große Nähe zum Konzertpublikum – das zeichnet das Ensemble Vokalschlag aus. Seit 2008 konzertiert das A-cappella-Sextett deutschlandweit und präsentiert seinem Publikum anspruchsvolle und professionell erarbeitete Werke vom 16. bis zum 21. Jahrhundert.</p>
                    
                    <p>Die sechs Sängerinnen und Sänger haben ihre Wurzeln in der Kölner Chorszene. Dort entwickelten sie Ihre Leidenschaft am Musizieren in kleiner Besetzung und an künstlerischer Arbeit im Team und auf Augenhöhe. Diese intensive musikalische und menschliche Arbeit hat letztlich auch die langjährige Freundschaft geprägt, die sich in vielen gestalterischen Aufmerksamkeiten im Konzerterlebnis widerspiegelt. </p>

                    <p>Die musikalische Heimat des Kölner Ensembles ist insbesondere die Barock- und Renaissancemusik. Kompositionen von Schütz, Schein, Bach oder Homilius gehören für Vokalschlag ins Standardrepertoire. Das Publikum kann sich aber auch auf moderne Ausflüge in die zeitgenössische Musik oder in den A-Cappella-Pop und –Jazz (zum Teil mit eigenen Arrangements) freuen. Dabei steht für die Sängerinnen und Sänger immer der Wille zum intensiven musikalischen Ausdruck im Vordergrund: Die Ernsthaftigkeit der Interpretation, gepaart mit einer gehörigen Portion Humor und Leichtigkeit, verbindet sich so zu kontrastreichen Konzertprogrammen, in denen musikalische „Stilbrüche“ in thematisch zusammenhängenden Blöcken kombiniert werden. Vokalschlag ist „A-cappella in grün“: intensiv, frisch und vielseitig.</p>
                </div>
            </section>
            <section class="container has-background-grey-lighter has-text-weight-light">
                <h2 class="is-size-3 m-5 p-5 has-text-weight-light">Ensemblemitglieder</h2>
                <div class="fixed-grid has-3-cols p-5 has-text-centered">
                    <div class="grid">
                        <div class='cell m-5' v-for="singer in singers">
                            <figure class="image">
                                <img v-bind:src="singer[1]" />
                            </figure>
                            {{singer[0]}}
                        </div>
                    </div>
                </div>
            </section>
            <section class="container has-background-success">
                <h2 class="is-size-3 m-5 p-5 has-text-weight-light">Anstehende Konzerte</h2>
                <div id="events" class="content m-5 p-5" v-for="event in futureEvents">
                    <h3 class="has-text-weight-light">{{ event.title }}<br />
                        <small>{{ renderDate(event) }}</small></h3>
                        <p v-html="event.location"></p>
                        <details>
                            <summary>Details</summary>
                            <span v-html="event.description"></span>
                        </details>
                </div>
                <h2 class="is-size-3 m-5 p-5 has-text-weight-light">Konzert-Archiv</h2>
                <div id="events" class="content m-5 p-5" v-for="event in pastEvents">
                    <h3 class="has-text-weight-light">{{ event.title }}<br />
                        <small>{{ renderDate(event) }}</small></h3>
                        <p v-html="event.location"></p>
                        <details>
                            <summary>Details</summary>
                            <span v-html="event.description"></span>
                        </details>
                </div>
            </section>
        </div>
    </body>
</html>
